$black: rgba(3, 12, 38, 1);
$gray: rgba(5, 22, 71, 1);
$pink: #f22e62;
$deepPink: #f11952;
$neonBlue: rgba(12, 50, 165, 1);
$navy: rgba(9, 36, 119, 1);
$blueGradient: linear-gradient(180deg, rgba(240, 240, 255, 0.2) 0%, rgba(241, 237, 252, 0.2) 100%);
$lavenderGradient: linear-gradient(180deg, #f0f0ff 0%, #f1edfc 100%);
$blue: #092477;
$lavender: #f0f0ff;
$darkBlue: #051647;
$gray: #75767B;