.answer {
    p,
    ul,
    ol {
        @include gilroy;
        margin-bottom: 1rem;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        color: #3c3b3d;
    }
    ol {
        list-style-type: decimal;
        padding-left: 1rem;
        li {
            display: list-item;
        }
    }
    ul {
        li {
            padding-left: 2rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0.5rem;
                width: 5px;
                height: 5px;
                background: $black;
                border-radius: 50%;
            }
        }
    }
}
